// desctop__global //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1194px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
// tablet__global //
// phone__global //
